@import '../base/variables';
@import '../mixin';
@import '../base/media';

.slider{
  .swiper-slide{
    width: 100%;
    @include flex(space-between, center, column);
    &>div{
      width: 80%;
      height: 100%;
    }
    .client-opinion{
      padding: 0px 40px;
      margin-bottom: 30px;
      position: relative;
      .client-info{
        margin-bottom: 20px;
        text-align: left;
        h3{
          color: $header-color;
        }
        p{
          font-size: 14px;
        }
      }
      .quote{
        position: absolute;
        color: $pink;
        font-size: 26px;

        &:nth-of-type(1){
          top: 0px;
          left: 0;
        }
        &:nth-of-type(2){
          bottom: 0px;
          right: 0px;
        }
      }
    }
    .client-img{
      height: 300px;
      padding: 10px;
      background: $white;
      border: 10px solid $pink;
      border-radius: 50%;
      img{
        border-radius: 50%;
        border: 20px solid $triangle-bg;
        display: block;
        margin: 0 auto;
      }
    }

    @include tablet{
      @include flex(space-between, center, row);
    }
    @include desktop{
      @include flex(space-around, center, row);
      &>div{
        width: 40%;
      }
      .client-img{
        height: 450px;
      }
    }
  }

  .swiper{
    .arrow{
      top: 10px;
      right: 5px;
      background: none;
      padding: 15px;
      border: 1px solid green;
      border-radius: 50%;
      color: green;
    }
    .swiper-button-prev{
      top: 55px;
      left: auto;
    }
    @include tablet {
      .arrow{
        top: 10px;
        right: 50%;
      }
      .swiper-button-prev{
        right: 58% !important;
        left: auto;
      }
    }
    @include desktop{
      .arrow{
        top: auto;
        bottom: 10px;
        right: auto;
        left: 120px;
      }
      .swiper-button-prev{
        left: 60px;
      }
    }
  }
}

:root {
  --swiper-navigation-size: 14px;
}